
/* Styles properties */
ion-label[_aio-78216568] {
	font-weight: bold;
}
ion-label[_aio-83B00423] {
	font-weight: bold;
}
div[_aio-4AA18CF8] {
	margin-top: 10px;
}
ion-label[_aio-B8EEA3A3] {
	font-weight: bold;
}
div[_aio-A4C944A3] {
	margin-top: 10px;
}