<ion-content _aio-693279D2 class="aio-vertical-align-center ion-padding" [class.aio-disabled]="$a.offline"
#_aio_content>
    <div class="aio-vertical-align-wrapper">
        <form _aio-70B6F7FB #form="ngForm" viewchild_name='form' #form_el [aioFormChange]="form">
            <div _aio-AD415A69 #j_227 *ngIf="stage == 0">
                <h1 _aio-46FE6E10 #j_228>
                    {{ 'Password Recovery' | translate }}
                </h1>
                <ion-item #j_229 _aio-6275378C>
                    <ion-input labelPlacement="stacked" _aio-373EBBAF #j_231="ngModel" #j_231_el name="Input1"
                    placeholder="{{ 'Enter Username' | translate }}" required="true" aioControlValidation="email"
                    aioValidationShowMessage="true" [(ngModel)]="username">
                        <ion-label _aio-ADCEBDBC #j_230 slot="label" color="primary">
                            {{ 'Username' | translate }}
                        </ion-label>
                    </ion-input>
                </ion-item>
                <ion-button _aio-6E0BFFA1 #j_232 expand="block" (click)="getCode()">
                    {{ 'Get Recovery Code' | translate }}
                </ion-button>
            </div>
            <div _aio-D88A0C89 #j_233 *ngIf="stage == 1">
                <h1 _aio-013ED801 #j_234>
                    {{ 'Confirmation code' | translate }}
                </h1>
                <code-input _aio-C673A543 #j_235 [code]="code" [isCodeHidden]="true" [codeLength]="5"
                (codeCompleted)="onCodeCompleted($event)">
                </code-input>
                <ion-button _aio-76D855B4 #j_236 expand="block" (click)="resendCode()">
                    {{ 'Resent Code' | translate }}
                </ion-button>
            </div>
            <div _aio-31F36801 #j_237 *ngIf="stage == 2">
                <h1 _aio-DD543FF4 #j_238>
                    {{ 'New password' | translate }}
                </h1>
                <ion-item #j_239 _aio-25D562B5>
                    <ion-input labelPlacement="stacked" _aio-8D59391C #j_241="ngModel" #j_241_el clearOnEdit="false"
                    name="Input2" placeholder="{{ 'Enter Password' | translate }}" type="password" required="true"
                    aioControlValidation="maxLength:50|||strongPassword" aioValidationShowMessage="true"
                    [(ngModel)]="password">
                        <ion-label _aio-6BEB416C #j_240 slot="label" color="primary">
                            {{ 'Password' | translate }}
                        </ion-label>
                    </ion-input>
                </ion-item>
                <ion-button _aio-ED877C56 #j_242 expand="block" (click)="setPassword()">
                    {{ 'Set password' | translate }}
                </ion-button>
            </div>
            <a _aio-ABDB8925 #j_243 (click)="$a.navigation.root(&quot;login&quot;, [], {replaceUrl: true})">
            {{ 'Back to Login screen' | translate }}
            </a>
        </form>
    </div>
    <aio-tester-buttons slot="fixed">
    </aio-tester-buttons>
</ion-content>