
/* Styles properties */
ion-content[_aio-693279D2] {
	text-align: center;
	width: 100%;
	max-width: 400px;
	align-self: center;
}
div[_aio-AD415A69] {
	display: block;
}
h1[_aio-46FE6E10] {
	text-align: center;
	font-size: 30px;
	margin-bottom: 40px;
}
[_aio-ADCEBDBC] {
	font-weight: bold;
}
ion-button[_aio-6E0BFFA1] {
	margin-top: 20px;
}
h1[_aio-013ED801] {
	text-align: center;
	font-size: 30px;
	margin-bottom: 40px;
}
code-input[_aio-C673A543] {
	--color:var(--ion-color-light-contrast);
}
ion-button[_aio-76D855B4] {
	margin-top: 20px;
}
h1[_aio-DD543FF4] {
	text-align: center;
	font-size: 30px;
	margin-bottom: 40px;
}
[_aio-6BEB416C] {
	font-weight: bold;
}
ion-button[_aio-ED877C56] {
	margin-top: 20px;
}
a[_aio-ABDB8925] {
	display: block;
	text-align: center;
	cursor: pointer;
	margin-top: 30px;
	margin-bottom: 20px;
}