
/* Styles properties */
ion-content[_aio-7E3453C7] {
	--padding-top: 10px;
	max-width: 800px;
	align-self: center;
}
div[_aio-AC8BA61D] {
	display: block;
	text-align: center;
	font-size: 30px;
	height: 60px;
}
span[_aio-2EC6FDA3] {
	font-size: 40px;
}
div[_aio-D2CA5C37] {
	display: block;
	text-align: center;
	font-size: 40px;
	height: 60px;
}
span[_aio-2C61EC29] {
	font-weight: bold;
	color: var(--ion-color-success);
}
span[_aio-B8138349] {
	font-weight: bold;
	color: var(--ion-color-danger);
}
h1[_aio-7C235404] {
	text-align: center;
	font-weight: bold;
}
div[_aio-27FD9A6E] {
	text-align: center;
}
div[_aio-83545A01] {
	display: inline-block;
}
div[_aio-5050D545] {
	text-align: center;
}
ion-icon[_aio-41686727] {
	width: 60px;
	height: 60px;
}
h1[_aio-3D08A02B] {
	text-align: center;
	font-weight: bold;
	text-decoration: underline;
}
h1[_aio-978BBABB] {
	text-align: center;
}
h1[_aio-234016AE] {
	text-align: center;
	font-weight: bold;
	text-decoration: underline;
	color: var(--ion-color-success);
}
h1[_aio-0F320316] {
	text-align: center;
	font-weight: bold;
	color: var(--ion-color-success);
}
img[_aio-DC421D6A] {
	width: 100%;
}
h1[_aio-7BC4294D] {
	text-align: center;
}