
/* Styles properties */
ion-content[_aio-ADBEC52E] {
	text-align: center;
}
form[_aio-05C906EE] {
	display: inline-block;
	width: 100%;
	max-width: 400px;
}
h1[_aio-66DDD271] {
	text-align: center;
	margin-top: 50px;
}
[_aio-62D21CC9] {
	font-weight: bold;
}
[_aio-E99E83F9] {
	font-weight: bold;
}
[_aio-C08D8337] {
	font-weight: bold;
}
[_aio-965E15FF] {
	font-weight: bold;
}
div[_aio-C263C7E9] {
	text-align: center;
	margin-top: 20px;
}
ion-text[_aio-FEA7C8BE] {
	text-decoration: underline;
}
ion-text[_aio-29815323] {
	text-decoration: underline;
}
ion-button[_aio-BBEC1639] {
	margin-top: 20px;
	margin-bottom: 20px;
}
ion-text[_aio-A03CDC29] {
	margin-bottom: 10px;
}
ion-text[_aio-ED9FD8D6] {
	text-decoration: underline;
}