
/* Styles properties */
ion-content[_aio-3CFD7CE6] {
	text-align: left;
	width: 100%;
	max-width: 800px;
	align-self: center;
}
[_aio-B8A70368] {
	font-weight: normal;
}
[_aio-5BED2195] {
	font-weight: normal;
}
ion-footer[_aio-D60166FF] {
	text-align:center;
}
ion-button[_aio-CC7D0469] {
	margin-bottom: 30px;
}