
/* Styles properties */
[_aio-C180B9D4] {
	font-weight: bold;
}
ion-button[_aio-14289EC5] {
	margin-top: 16px;
	margin-bottom: 16px;
}
span[_aio-9FFA8098] {
	font-weight: bold;
}
span[_aio-2344A7B8] {
	font-weight: bold;
}